.drag-and-drop-preview {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.drag-and-drop-preview__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;

  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.drag-and-drop-preview__icon svg {
  width: 30px;
  height: auto;

  fill: var(--color-text);
}

.drag-and-drop-preview__text {
  margin-top: 20px;

  color: var(--color-text);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
